li {
  display: block;
  float: left;
  width: 5em;
  height: 5em;
  list-style: none;
  background-color: #ABF;
  margin: 0.125em;
  padding: 0.25em;
  border: solid 1px black;
  box-shadow: inset 0 -0.25em 0.5em rgba(0,0,0,0.3);
}

.oddWidth {
  width: 6em;
}

.filmstripContainer {
  height: 5.8em;
}

.filmstrip {
  margin: 0;
  padding: 0;
  width: 1000em;
}
