li {
  display: block;
  width: 5em;
  height: 5em;
  list-style: none;
  background-color: #ABF;
  margin: 0.125em;
  padding: 0.25em;
  border: solid 1px black;
  box-shadow: inset -0.125em -0.25em 0.5em rgba(0,0,0,0.15);
}

.oddHeight {
  height: 6em;
}
